.black_color{
    background-color:  #2C3E50;
}

.color_dark{
    color:#2C3E50 ;
}
.jumbo-bg{
    background-color:  #1ABC9C;
}

.width100{
    width:50%;
}

.row img{
    width: 100%;
}


.line{
    width: 100px;
    height: 4px;
}