.black_color{
    background-color:   #3A546D;
}
.black_darker_color{
    background-color:  #2C3E50;
}

.color_dark{
    color:#2C3E50 ;
}

.jumbo-bg{
    background-color:  #1ABC9C;
}

.width100{
    width:50%;
}

.row img{
    width: 100%;
}


.line{
    width: 100px;
    height: 4px;
}

/* FOOTER */
.footer-top{

    .icon{
        border: 1px solid white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    & i{
        line-height: 2rem;
    }

    & a{
        color: #1ABC9C;;
        text-decoration: none;
    }
}